*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    display: block;
}

div#info-content {
    padding: 20px 0;
}

nav.header {
    padding: 15px 0 30px;
}
.menu{
    font-size: 12px;
    font-weight: 700;
}
.container{
    margin: 0 auto;
}
.content{
    background: #f5f5f5;
    padding: 30px 0;
}
.menu.col-md-10 li {
    list-style: none;
    float: right;
    margin-left: 15px;
    color: black;
}
li.active {
    color: #10c9c3 !important;
}
.messages-form {
    float: right;
}
.form-group input{
    width: 100%;
}
.form-group textarea {
    width: 100%;
    border: none;
    padding: 10px 15px !important;
}
.info h1 {
    line-height: 0 !important;
}
.form-group input {
    padding: 10px 20px;
    border: none;
}
#comment textarea {
    height: 150px;
}
.content>.container{
    margin-bottom: 30px;
}
.map {
    display: block;
}
.map img{
    width: 100%;
}
#title {
    margin-bottom: 10px;
}
.button {
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    border: none;
    background-color: #10c9c3;
}